# Useful resources:
#
# * `man systemd.service`
# * https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux_atomic_host/7/html/managing_containers/running_containers_as_systemd_services_with_podman
#

[Unit]
Description=Sydent
Wants=network.target
After=network-online.target

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Type=forking
User=sydent
ExecStart=/usr/bin/podman container start sydent
ExecStop=/usr/bin/podman container stop sydent
Restart=always

[Install]
WantedBy=multi-user.target default.target
